
#start{
    font-size: 45px;
    text-align: center;
    background: linear-gradient(90deg,#000,#fff,#000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
}
.navbar{
    background-color: #0c83fb;
}
.btn-close {
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}
  
.btn-close:hover{
    transform: rotate(180deg);
}
  
.nav-link:hover{
    font-size: 18px;
    transition: font-size 0.5s linear;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}
#produce:hover{
    font-size: 24px;
    transition: font-size 1s linear;
    text-shadow: 2px 2px 5px black;
    
}

@keyframes shine{
    0%{
        background-position-x: -500%;
    }
    100%{
        background-position-x: 500%;
    }
}
.foot{
    padding: 50px 10px 10px 1px;
}
.phrase{
    font-size: 20px;
    font-weight: bold;
    font-family: '標楷體', 'KaiTi', serif;
}
.pokemon{
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    background-color: #000000;
    padding: 7px;
    font-weight: bold;
    
}
.custom-icon {
    
    color: black;
    text-decoration: none;
}

/* .img-container{
    cursor:pointer;
    max-width: 500px;
    max-height: 300px;
    filter: grayscale(100%);
    transition: all 0.3s;
}
.img-container:hover{
    filter: grayscale(0);
} */


